{{?
    $body_classes = '';
    
    if ($is_homepage ?? false) {
        $body_classes .= 'homepage ';
    }
    
    if ($is_entry ?? false) {
        $body_classes .= 'entry';
        if (isset($collection)) $body_classes .= " entry-{$collection}";
        if (isset($id)) $body_classes .= " entry-id-{$id}";
        if (isset($slug)) $body_classes .= " slug-{$slug}";
        $body_classes .= ' ';
    }
    
    if ($is_taxonomy ?? false) {
        $body_classes .= 'term';
        if (isset($taxonomy)) $body_classes .= " taxonomy-{$taxonomy}";
        if (isset($slug)) $body_classes .= " term-{$slug}";
        $body_classes .= ' ';
    }
    
    if (isset($current_template)) {
        $body_classes .= "template-{$current_template} ";
    }
    
    if (isset($current_layout)) {
        $body_classes .= "layout-{$current_layout} ";
    }
    
    $locale = $site->short_locale ?? 'en';
    $body_classes .= "locale-{$locale}";
    
    echo trim($body_classes);
?}}